* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	font-family: "Helvetica", sans-serif;
	font-size: 14pt;
	background-color:#83c99e;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px;
	background-color:#07451e;
	color: #fff;
}

.nav-links a {
	color: #fff;
}

/* NAVBAR MENU */
.menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
}

.menu li:hover {
	background-color: #0ecf58;
	border-radius: 5px;
	transition: 0.3s ease;
}

.active{
	background-color: #13a149;
	border-radius: 5px;
}

.menu li {
	padding: 5px 14px;
}

.logo{
	height: 50px;
 }

.header_slogan{
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 24pt;
	text-align: center;
	width: 100%;
}

.container{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
}

.decoration {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
	background-color:#b8f5cf;
	font-size: 13pt;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.decoration div + div {
    margin-top: 1em;
}

.no_decoration{
	width: 200px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
    border: none;
    border-radius: 0em;
}

input, textarea {
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    margin: 3px 0;
    width: 100%;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 4em;
    resize: vertical;
}

button {
	height: 50px;
    width: 50%;
    color: white;
	font-size: 15pt;
}

.button {
	text-align: center;
}

.cadastrar{
	background-color: #05546e;
}

.entrar, .continuar{
	background-color: #008000;
}

.cancelar{
	background-color: #bf2424;
}

article{
	padding: 0px 20px 0px 20px;
}

.desenvolvedor{
	float: right;
	height: 200px;
	border:7px solid #13a149;
	background:transparent url(/imagem.jpg);
}

.desenvolvedora{
	float: left;
	height: 200px;
	border:7px solid #13a149;
	background:transparent url(/imagem.jpg);
}

.biografia1{
	text-align: justify;
	padding-right:200px;
}

.biografia2{
	text-align: justify;
	padding-left:200px;
}

p, table{
	font-size: 13pt;
	font-family: "GT Walsheim";
}

h2{
	font-family: Gotham;
}

.organiza{
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.block{
	width: 45%;
	border: 1px solid #CCC;
    border-radius: 1em;
	background-color:#b8f5cf;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.block p, .block h2{
	padding: 20px;
}

.realidade, .telas{
	width: 100%;
}

.imagens_sobre{
	width: 95%;
}

video{
	width: 45%;
	height: auto;
}

.small{
	width: 43%;
}

.smaller{
	width: 10%;
}

.consulta{
	margin: 0 auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
	background-color:#b8f5cf;
	text-align: center;
}

.consulta tr td{
	padding: 0px 20px 0px 20px;
}

.consulta tr td .cadastrar{
	width: 30%;
}

.float-btn{
	border: none;
	color: white;
	text-decoration: none;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}

.icon{
	height: 15px;
}

#edit{
	background-color: #05546e;
}

#delete{
	background-color: #bf2424;
}

#local{
	background-color: #f56642;
}

#check{
	background-color: #008000;
}

.invisible{
	padding: 0em;
    border: none;
}
